ul.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 30%);
  padding: 0;
  > * {
    border: 1px solid var(--highlight);
    padding: 0.5em 1em;
    margin: 0.5em;
    text-align: left;
    /* box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 6px 6px 0px var(--highlight);
    border-radius: 8px;
    > li {
      text-align: center;
      list-style: inside decimal;
      font-weight: bold;
      font-size: 1.15em;
      margin-top: 0.5em;
    }
  }
}

ul.benefits.grid {
  margin: 2em 0;
  grid-template-columns: repeat(4, 25%);
  padding: 0;
  > * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    > li {
      list-style: none;
    }
  }
}

/* HIGHLIGHTED CONTENT SECTION */
/* Copied from main stylesheet to affect services only */
.highlighted.content.container {
  min-width: 102vw;
}

b {
  color: var(--highlight);
}
a.button {
  position: relative;
  left: 50%;
  margin: 0px;
  padding-left: 0;
  padding-right: 0;
  transform: translateX(-50%);
  align-items: center;
  font-size: 1.6em;
  > .material-symbols-outlined {
    color: var(--text);
    opacity: 0.8;
  }
  &:hover::after {
    width: 101%;
  }
}

.centred {
  text-align: center;
  font-size: 1.2em;
}
