ul.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 45%);
  padding: 0;
  > * {
    cursor: pointer;
    border: 2px solid var(--highlight);
    padding: 0.5em 1em;
    margin: 0.5em;
    text-align: left;
    box-shadow: 6px 6px 0px var(--highlight);
    border-radius: 8px;
    height: min-content;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    > li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      list-style: none;
      font-weight: bold;
      font-size: 1.15em;
      /* margin-top: 0.5em; */
      min-height: 75px;
      /* vertical-align: middle; */
      /* margin: auto; */
      height: 100%;
       > h4{
        width: 100%;
        margin: 0px;
      }
    }
    > p{
      transition: all 0.5s ease-in-out;
      visibility: hidden;
      margin: 0px;
      /* margin-bottom: 1em; */
      height: max-content;
      max-height: 0px;
    }
  }
}

h4.benefits.heading{
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}
ul.benefits.grid {
  margin: 2em 0;
  grid-template-columns: repeat(2, 35%);
  padding: 0;
  > * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    > li {
      list-style: none;
    }
    &:hover{
      > li{
        color: var(--highlight);

      }
    }
  }
}

/* HIGHLIGHTED CONTENT SECTION */
/* Copied from main stylesheet to affect services only */
.highlighted.content.container {
  min-width: 102vw;
}

b {
  color: var(--highlight);
}
a.button {
  position: relative;
  left: 50%;
  margin: 0px;
  padding-left: 0;
  padding-right: 0;
  transform: translateX(-50%);
  align-items: center;
  font-size: 1.6em;
  > .material-symbols-outlined {
    color: var(--text);
    opacity: 0.8;
  }
  &:hover::after {
    width: 101%;
  }
}

.centred {
  text-align: center;
  font-size: 1.2em;
}
